{% extends 'base.html.twig' %}


{% block title %}Message envoyé{% endblock %}

{% block body %}
<h1>Votre demande à bien été prise en compte</h1>

<a href="">retourner sur la page d'accueil</a>
</div>
{% endblock %}