{% extends 'base.html.twig' %}

{% block title %}Balade pour chien
{% endblock %}

{% block body %}
<div class="politiquedeconf">
<h1>Mentions légales</h1>
<h2>COLLECTE DE L’INFORMATION</h2>
<p>Ce site est la propriété de Neptunes de Nantes, filiale du groupe REALITES, société anonyme à conseil d’administration au capital de 28 435 139,67  euros, dont le siège social est situé Immeuble L’Intrépide, 1, Impasse Claude NOUGARO 44800 SAINT-HERBLAIN, immatriculée au registre du Commerce et des Sociétés de NANTES sous le numéro 451 251 623 et dont le numéro de TVA intracommunautaire est le FR86451251623.

Le directeur de la publication et responsable de la rédaction est Madame Marianne BURON.
Pour entrer en contact avec les Neptunes de Nantes :  contact@neptunes-nantes.fr

Crédit photos : pexel</p>

<h2>Hébergeur</h2>
<p>Ce site est hébergé par la Société Smile
Siège social : 20 rue des Jardins
92600 Asnières-sur-Seine</p>

<h2>Conception fonctionnelle, créative et technique du site internet</h2>
<p>La conception du site a été réalisée par Passerelle
PASSERELLE
100 boulevard Sébastopol
75003 Paris</p>

<h2>CONDITIONS GÉNÉRALES D’UTILISATION DU SITE</h2>
<p>Les présentes conditions générales sont consultables à tout moment par l’utilisateur et peuvent être imprimées.

L’utilisateur, au moment où il utilise et consulte ce site, déclare avoir pris connaissance des présentes conditions générales et les accepter sans réserve.

Avant toute consultation du site, l’utilisateur reconnaît avoir vérifié que le navigateur permet un accès sécurisé du site et qu’il n’utilise pas une configuration contenant un quelconque virus.</p>
<h3>Article 1. Responsabilité</h3>
<p>Les photographies, perspectives, graphiques, plans utilisés pour illustrer les programmes immobiliers n’ont pas valeur contractuelle. Si des erreurs avaient été commises, la responsabilité de Nantes atlantique Handball, de ses filiales ou partenaires ne pourra être recherchée ou engagée.

Les illustrations utilisées constituent une interprétation et ne peuvent en aucun cas avoir valeur contractuelle.
Par ailleurs, Les Neptunes de Nantes met tout en œuvre afin de diffuser des informations exactes et actualisées. Toutefois, les Neptunes de Nantes ne saurait être tenue responsable des erreurs, d’une absence de disponibilité des informations et/ou de la présence de virus sur son site web.
</p>

<h3>Article 2. Accès au site</h3>
<p>Neptunes de Nantes fera ses meilleurs efforts pour rendre le site accessible 24 heures sur 24 et 7 jours sur 7 mais ne peut vous garantir que le fonctionnement du site sera ininterrompu et exempt de toute erreur.

Conformément à son obligation de moyen dans le cadre du fonctionnement et de la continuité du service, Neptunes de Nantes ne sera être tenue responsable de tous préjudices résultants de l’utilisation du site et ce, quelle qu’en soit la cause. Notamment, Neptunes de Nantes ne saura être tenue responsable de l’altération de données ou de l’accès frauduleux à ces dernières ou de la présence d’un virus sur son site.
</p>
<h3>Article 3. Propriété Intellectuelle</h3>
<p>Article 3. Propriété Intellectuelle
La présentation et le contenu du site, incluant, sans que cette liste soit exhaustive, les noms, logos, marques, noms de domaine et autres signes distinctifs de Neptunes de Nantes (ou de ses filiales), les images, textes, photographies, savoir-faire, dessins, illustrations, produits et slogans, constituent ensemble ou séparément une œuvre protégée par les lois en vigueur sur la propriété intellectuelle et le droit d’auteur. Aucune reproduction et/ou représentation, partielle ou intégrale, par tout moyen, sur tout support et sous toute forme que ce soit, de ces éléments, ne pourra être faite sans l’accord préalable et écrit de la Société Neptunes de Nantes .

Toutefois, l’impression sur support papier est autorisée sous réserve de respecter l’intégralité des documents reproduits (sans modification ou altération quelconque). La copie à usage privé du contenu du site est également autorisée sous réserve que la Société Neptunes de Nantes soit indiquée comme étant la source de cette copie.

Toute exploitation non autorisée du site ou de son contenu engagera la responsabilité de l’utilisateur.

Par ailleurs, toute extraction par tout moyen et sous toute forme que ce soit ou réutilisation, par la mise à disposition du public, d’une partie substantielle de toute base de données accessible sur le site est interdite et constitue une contrefaçon sanctionnée par les articles L. 335-2 et suivants et les articles L.713-1 et suivants du Code de la Propriété Intellectuelle.
</p>
<h3>Article 4. Lien hypertexte</h3>
<p>Neptunes de Nantes met à votre disposition des liens hypertextes vers d’autres sites Internet dont elle n’est pas l’éditeur. Neptunes de Nantes n’étant pas en mesure de contrôler ces contenus en permanence, elle ne peut être tenue responsable pour quelque raison que ce soit du contenu de ces sites et se dégage de toute responsabilité dans l’hypothèse où ces contenus ne respecteraient pas les obligations légales, réglementaires ou contractuelles ou si ces sites sont affectés par des virus ou tout autre parasite de nature destructive. Neptunes de Nantes ne pourra en aucun cas être tenue pour responsable de tout perte d’exploitation, financière ou commerciale ni de tout perte de programmes ou de données dans les systèmes d’information ou autre de l’utilisateur.
</p>
<h3>Article 5. Cookies</h3>
<p>Nantes atlantique Handball utilise des cookies de mémorisation. Il s’agit de fichiers transférés sur votre ordinateur, mais ne permettant pas de vous identifier. Les cookies enregistrent des informations relatives à la navigation de votre ordinateur sur le site (les pages consultées, la date et l’heure de la consultation, etc.) et permettent de les extraire lors de vos connexions ultérieures au site afin de personnaliser votre connexion. Ces informations demeurent disponibles tant que le cookie est présent dans le système de votre ordinateur. Voir la page dédiée à la politique de gestion des cookies.
</p>
<h3>
Article 6. Données Personnelles
</h3>
<p>Conformément aux dispositions du Règlement Européen n°2016/679 et à la loi Informatique et Libertés n°78/17 du 6 janvier 1978 dans sa version modifiée, Neptunes de Nantes informe ses utilisateurs qu’elle est susceptible de collecter des données personnelles le concernant.

Neptunes de Nantes est le destinataire des données personnelles collectées à partir du site web mais peut, pour différentes raisons, être amené à sous-traiter certaines prestations. Dans cette hypothèse, Neptunes de Nantes veille à ce que ses sous-traitants respectent l’ensemble des dispositions en vigueur en termes de protection des données personnelles des utilisateurs.

Ces derniers disposent d’un droit d’accès et de rectification de leurs données personnelles et du droit de s’opposer au traitement de ces dernières par Neptunes de Nantes à des fins de prospection commerciale ou de profilage. Pour plus de renseignements à ce sujet, nous vous invitons à consulter notre page de Gestion des Données Personnelles.</p>
</div>
{% endblock %}
