{% extends 'base.html.twig' %}

{% block title %}Balade pour chien
{% endblock %}

{% block body %}
<div class="politiquedeconf">
<h1>Politique de confidentialité</h1>
<h2>COLLECTE DE L’INFORMATION</h2>
<p>Nous recueillons des informations lorsque vous naviguez sur le site, lorsque vous passez une commande et lorsque vous remplissez l’un des formulaires.

En outre, nous recevons et enregistrons automatiquement des informations à partir de votre ordinateur et navigateur, comme :</p>
<li>votre adresse IP</li>
<li>le type de matériel et de navigateur utilisés</li>
<h2>UTILISATION DES INFORMATIONS</h2>
<p>Toute les informations que nous recueillons auprès de vous peuvent être utilisées pour :</p>
<ul>
<li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
<li>Améliorer notre site Web</li>
<li>Améliorer le service client et vos besoins de prise en charge</li>
<li>Vous contacter par email</li>
</ul>
<h2>PROTECTION DES INFORMATIONS</h2>
<p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles :</p>
<ul>
<li>Protocole SSL</li>
<li>Gestion des accès par login/mot de passe</li>
<li>Sauvegardes informatiques multiples</li>
<li>Pare-feu</li>
</ul>
<p>Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou le service à la clientèle) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</p>
<h2>COOKIES :</h2>
<p>Les cookies sont des fichiers textes, souvent cryptés, stockés dans votre navigateur. Ils sont créés lorsque le navigateur d’un utilisateur charge un site internet donné : le site envoie des informations au navigateur, qui créé alors un fichier texte. Chaque fois que l’utilisateur revient sur le même site, le navigateur récupère ce fichier et l’envoie au serveur du site internet.

On peut distinguer deux types de cookies, qui n’ont pas les mêmes finalités : les cookies techniques et les cookies publicitaires :</p>
<ul>
<li>Les cookies techniques sont utilisés tout au long de votre navigation, afin de la faciliter et d’exécuter certaines fonctions. Un cookie technique peut par exemple être utilisé pour mémoriser les réponses renseignées dans un formulaire ou encore les préférences de l’utilisateur s’agissant de la langue ou de la présentation d’un site internet, lorsque de telles options sont disponibles.</li>

</ul>
<p>Nous utilisons des cookies techniques et des cookies publicitaires.

Nous utilisons Google Analytics qui est un outil statistique d’analyse d’audience qui génère un cookie permettant de mesurer le nombre de visites , le nombre de pages vues et l’activité des visiteurs. Votre adresse IP est également collectée pour déterminer la ville depuis laquelle vous vous connectez.

Nous vous rappelons à toutes fins utiles qu’il vous est possible de vous opposer au dépôt de cookies techniques et publicitaires en configurant votre navigateur. Retrouvez plus d’informations sur l’utilisation des cookies sur le site de la CNIL : http://www.cnil.fr/vos-droits/vos-traces/les-cookies/

Un tel refus pourrait toutefois empêcher le bon fonctionnement du site Internet.

</p>

<h2>SE DÉSABONNER</h2>
<p>Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer des informations et mises à jour relatives à votre commande, des actualités de façon occasionnelle, des informations sur des produits, des nouveautés etc. Si vous souhaitez à tout moment vous désinscrire et ne plus recevoir d’e-mails, il vous suffit d’en faire la demande à contact@baladepourchien.fr</p>
<h2>DROIT D’ACCÈS, DE MODIFICATION ET DE SUPPRESSION DE VOS DONNÉES</h2>
<p>Si, à tout moment, vous souhaitez avoir accès aux informations personnelles vous concernant, ou si vous souhaitez les modifier ou les supprimer, il vous suffit d’en faire la demande directement sur ce formulaire

Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels. Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisés à certaines fins mentionnées lors de la collecte.

Pour pouvoir exercer ces droits, vous pouvez nous contacter :
BALADEPOURCHIEN
44500 La Baule
Tél : +33 
Email : contact@baladepourchien.fr</p>
<h2>CONSERVATION DES DONNÉES</h2>
<p>Les données personnelles de nos internautes sont conservées dans un délai maximum de 36 mois</p>
<h2>CONSENTEMENT</h2>
<p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>

</div>
{% endblock %}
