body {
  color: #333333;
}

.navigation {
  background-color: #96652A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  z-index: 5;
}
.navigation .fa-square-facebook {
  font-size: 25px;
  color: white;
}
.navigation .fa-instagram {
  font-size: 25px;
  color: white;
}
.navigation .fa-circle-user {
  font-size: 20px;
  color: white;
  padding-right: 10px;
}
.navigation .connect {
  display: flex;
  align-items: center;
  color: white;
}
.navigation .test {
  display: none;
}

.display_scroll {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 0;
  position: fixed;
  top: 200px;
  width: 100%;
  margin-top: 40px;
  z-index: 30;
}

.nav_scroll {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  width: 60vw;
  padding-right: 100px;
}
.nav_scroll a {
  text-decoration: none;
  color: #96652A;
  text-transform: uppercase;
  font-weight: bold;
}

.logo-css {
  height: 50px;
  width: 35px;
  margin: 10px;
}

.accueil-nav {
  text-decoration: none;
  color: white;
}

.accueil-nav:hover {
  text-decoration: none;
  color: #333333;
}

.haut-page {
  display: flex;
  justify-content: space-between;
}
.haut-page #background-video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.haut-page .navbar-toggler-icon {
  display: none;
}
.haut-page .navbar-centrale {
  max-height: 90vh;
  align-items: center;
  display: flex;
  margin-top: 20%;
  margin-bottom: 18%;
}
.haut-page .navbar-centrale .navbar-collapse {
  justify-content: center;
}
.haut-page .logo-css {
  width: 80px;
  height: 120px;
  margin: 50px;
  padding-top: 20px;
}
.haut-page .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.haut-page .nav-link {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(46, 46, 46, 0.717);
  transition: 1s;
}
.haut-page .nav-link:hover {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgb(64, 64, 64);
}

.navbar-responsive {
  display: none;
}

.btn-dangers {
  background-color: #2D3047;
  color: white;
  height: 15%;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.btn-dangers:hover {
  box-shadow: 5px 6px 25px 10px rgba(45, 48, 71, 0.6470588235);
}

.btn-dangersdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-shield-exclamation {
  color: white;
  font-size: 50px;
}

.btn-voirdangers {
  text-decoration: none;
  color: #fff;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-voirdangers:hover {
  text-decoration: none;
  background-color: #fff;
  color: #2D3047;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chenille {
  height: 100px;
  width: 200px;
}

.img-dangers {
  display: flex;
  justify-content: space-around;
}

.modal-header {
  text-align: center;
}

#popup {
  text-align: center;
  color: #fff;
}

.modal-content {
  background-color: #2D3047;
}

.legende_balade {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.find-balade {
  margin-top: 5%;
}
.find-balade h3 {
  font-size: 15px;
}
.find-balade h2 {
  text-align: center;
  margin-top: 10px;
  color: #2C7FA3;
}
.find-balade .btn-balade {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}
.find-balade .btn-choix {
  text-decoration: none;
  color: white;
  background-color: #2C7FA3;
  height: 35px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.find-balade .btn-choix:hover {
  box-shadow: 4px 6px 6px rgba(44, 127, 163, 0.4117647059);
}
.find-balade .ifram-carte {
  height: 40vh;
  width: 87vw;
}

.find-groupe {
  margin-top: 50px;
  border: 15px solid #96652A;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.find-groupe .card_groupe {
  box-shadow: 5px 13px 10px rgba(62, 62, 62, 0.6470588235);
  text-align: center;
  background-color: #96652A;
  color: white;
}
.find-groupe h2 {
  text-align: center;
  margin: 30px;
  color: #96652A;
}
.find-groupe .row_groupe_accueil {
  width: 100%;
}
.find-groupe .col_groupe_accueil {
  display: flex;
  justify-content: space-evenly;
}
.find-groupe .btn-tousgroupes {
  text-decoration: none;
  color: #96652A;
  font-size: 17px;
  background-color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.find-groupe .btn-tousgroupes:hover {
  font-weight: bold;
}

.h2-conseils {
  text-align: center;
  margin: 50px;
  color: #2D3047;
}

.conseils {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.conseils .deux-bloques {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conseils .card_conseil {
  border: 10px solid #2D3047;
  margin-right: 50px;
  width: 40vw;
  box-shadow: 5px 13px 10px rgba(62, 62, 62, 0.6470588235);
  text-align: center;
}
.conseils .card-body {
  min-height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conseils .card-body .card-text {
  padding: 10px;
}
.conseils .btn-tousgroupes {
  text-decoration: none;
  background-color: #2D3047;
  color: white;
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conseils .btn-tousgroupes:hover {
  box-shadow: 5px 13px 10px rgba(46, 47, 48, 0.4117647059);
  font-weight: bold;
}

.form-actu {
  background-color: #2C7FA3;
  color: white;
  padding: 50px;
  border: 15px solid white;
}
.form-actu h2 {
  text-align: center;
  margin-bottom: 50px;
}
.form-actu p {
  text-align: center;
  padding-right: 90px;
  padding-left: 90px;
}
.form-actu .btn-actu {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.form-actu .btn-actu a {
  color: #2C7FA3;
  text-decoration: none;
  background-color: white;
  height: 35px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.form-actu .btn-actu a:hover {
  color: #2C7FA3;
  text-decoration: none;
  background-color: white;
  height: 35px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 13px 10px rgba(46, 47, 48, 0.4117647059);
  font-weight: bold;
}

.nosdangers h1 {
  text-align: center;
}

footer {
  background-color: #96652A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 50px;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .copyright a {
  color: #fff;
  text-decoration: none;
}
footer .copyright a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .logo-css {
  width: 130px;
  height: 180px;
  margin: 30px;
}
footer .fa-square-facebook {
  color: #fff;
  font-size: 40px;
}
footer .fa-instagram {
  color: #fff;
  font-size: 40px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
}
.nav-footer a {
  color: #fff;
  text-decoration: none;
}
.nav-footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.duo-img-nav {
  display: flex;
  align-items: center;
}

.h1-form {
  text-align: center;
  margin: 50px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  justify-content: space-around;
}

.user {
  display: flex;
  width: 20vw;
}

.btn-register {
  background-color: #96652A;
  color: white;
  border: none;
  height: 45px;
  margin-top: 10px;
  width: 200px;
}

.btn-register:hover {
  background-color: white;
  color: rgba(233, 197, 106, 0.9568627451);
}

.login-email {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.login-mdp {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.btn-login {
  background-color: #96652A;
  color: white;
  border: none;
  margin-top: 20px;
  height: 35px;
  width: 200px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login:hover {
  background-color: white;
  color: #96652A;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}

#map {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  z-index: 1;
}

.img_chien {
  width: 100px;
  height: 150px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}

.btn-dm-long {
  text-decoration: none;
  background-color: #2C7FA3;
  color: white;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-dm-long:hover {
  background-color: white;
  color: #2C7FA3;
}

.btn-dm {
  text-decoration: none;
  background-color: #2C7FA3;
  color: white;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-dm:hover {
  background-color: white;
  color: #2C7FA3;
}

.btn_action {
  margin-top: 50px;
}

.compte_utilisateur {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_utilisateur {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info_utilisateur2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.btn_chien {
  margin: 20px;
}

.strong {
  font-weight: bold;
  margin-right: 5px;
}

.info_chien {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  border: none;
}

.block_edit_user {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.block-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-edit .formulaire {
  margin: 50px;
}
.block-edit .edit-dog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100px;
}
.block-edit .btn {
  background-color: #2C7FA3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 20px;
}
.block-edit .btn:hover {
  background-color: white;
  color: #2C7FA3;
}

.title-edit {
  text-align: center;
}

.form-login {
  height: 55vh;
}

.block-edit {
  height: 65vh;
}

.formulaire {
  height: 60vh;
}

.btn {
  background-color: #2C7FA3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 20px;
}

.block-edit_dog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-edit_dog .edit-dog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100px;
}
.block-edit_dog .btn {
  background-color: #2C7FA3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 20px;
}
.block-edit_dog .btn:hover {
  background-color: white;
  color: #2C7FA3;
}

.bouton-balade {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bouton-balade .btn-choix {
  text-decoration: none;
  color: white;
  background-color: #2C7FA3;
  height: 35px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-balade-choix {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title-balade {
  text-align: center;
}

.img_balade_show {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.balade_show {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  margin: 5%;
}

.img_balade {
  width: 50vw;
}

.block_balade_show {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.block_balade_show .img_chien {
  width: 400px;
  height: 500px;
}

.fiche_balade {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
}
.fiche_balade .img_chien {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}

.select_balade {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

.show_balade {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.show_balade .btn-dm_show {
  text-decoration: none;
  background-color: #2C7FA3;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.show_balade h2 {
  font-size: 30px;
  font-weight: 100;
}

.card_balade {
  border: 3px solid #2C7FA3;
}

.groupe_block {
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.groupe_show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.groupe_show .btn-dm_show {
  text-decoration: none;
  background-color: #2C7FA3;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 2%;
}

.btn-groupe {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#wrapper .navbar-nav {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dash_home {
  display: flex;
  flex-wrap: wrap;
}

.dash-front {
  width: 70%;
  margin: 5%;
  height: 60vh;
}

.sidebar-heading h1 {
  font-size: 20px;
}

.fa-door-open {
  font-size: 30px;
}

.fa-paw {
  font-size: 30px;
}

.fa-users-line {
  font-size: 30px;
}

.archi_dash {
  margin-bottom: 100px;
  margin-top: 50px;
}
.archi_dash h1 {
  margin-bottom: 100px;
  text-align: center;
}

.activite_balade {
  list-style: none;
}

.retour_btn {
  text-decoration: none;
  color: #96652A;
}

.retour_btn:hover {
  text-decoration: none;
  color: #2D3047;
}

.fa-arrow-left {
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.back_dmgroupe {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: space-evenly;
}

.groupes-dm {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}

@media (max-width: 1824px) {
  .haut-page .navbar-centrale {
    margin-bottom: 5%;
  }
  .find-balade {
    margin-top: 15%;
  }
}
@media (max-width: 1432px) {
  .find-balade {
    margin-top: 12%;
  }
}
@media (max-width: 1332px) {
  .find-balade {
    margin-top: 10%;
  }
}
@media (max-width: 1168px) {
  .find-balade {
    margin-top: 9%;
  }
}
@media (max-width: 990px) {
  .nosdangers #map {
    display: flex;
  }
  .conseils {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .conseils .card_conseil {
    margin-bottom: 50px;
    margin-right: 0px;
    width: 60vw;
  }
  .conseils .card-body {
    padding-top: 50px;
  }
  .col_groupe_accueil {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .find-groupe .card_groupe {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .find-balade {
    margin-top: 30%;
  }
  .navbar .navbar-toggler-icon {
    color: white;
  }
  .navbar-centrale {
    display: none;
  }
  .nav-reseaux {
    display: none;
  }
  .navbar-responsive {
    display: block;
  }
  .navbar-toggler {
    border: solid;
  }
  .nav-connect .connect {
    display: none;
  }
  .nav-connect .test {
    display: contents;
    font-size: 40px;
    font-weight: 100;
  }
  .resp {
    color: #fff;
  }
  #map {
    display: none;
  }
  .btn-balade {
    margin-left: 20%;
    margin-right: 20%;
  }
  .btn-choix {
    margin: 5%;
  }
  .btn-dangers {
    height: 70px;
  }
}
.politiquedeconf {
  margin: 100px;
}/*# sourceMappingURL=style.css.map */