{% extends 'base.html.twig' %}

{% block title %}New Conseils{% endblock %}

{% block body %}
    <h1>Create new Conseils</h1>

    {{ include('conseils/_form.html.twig') }}

    <a href="{{ path('app_conseils_index') }}">back to list</a>
{% endblock %}
