{% extends 'base.html.twig' %}

{% block title %}Balades{% endblock %}

{% block body %}
<div class="balade_show">
    <h1>{{ conseil.titleConseil  }} </h1>
<div class="block_balade_show">
    <div class="show_balade">

  <p  class="card-title" >{{ conseil.textConseil }}</p>
            
              
    <a class="btn-dm_show" href="{{ path('conseils') }}">Revenir à la liste</a>

   
     <img class="img_chien" src="{{ asset('uploads/photoConseil/' ~ conseil.photoConseil ) }}" >
   
    </div>
   </div>
  
   </div>

</div>
{% endblock %}