{% extends 'base.html.twig' %}

{% block title %}Balades
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                  <img class="card-img-top img-fluid custom-img" src="{{ asset('uploads/photoConseil/' ~ conseil.photoConseil ) }}" alt="Photo du conseil">
                <div class="card-body">
                    <h1 class="card-title">{{ conseil.titleConseil }}</h1>
                    <p class="card-text">{{ conseil.textConseil }}</p>
                    <a href="{{ path('conseils') }}" class="btn ">Revenir à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

