{% extends 'base.admin.html.twig' %}


{% block title %}Dashboard
{% endblock %}
{% block body %}
<div class="archi_dash">
<h1>Demande création d'un groupe</h1>
<table class="table">
<thead>
<th>Nom du groupe</th>
<th>Zone du groupe</th>
<th>Créateurs</th>
<th>Valider</th>
</thead>
<tbody></tbody>
</table>

</div>




</div></body></html>{% endblock %}