{% extends 'base.html.twig' %}

{% block title %}Edit Dangers{% endblock %}

{% block body %}
    <h1>Edit Dangers</h1>

    {{ include('dangers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dangers_index') }}">back to list</a>

    {{ include('dangers/_delete_form.html.twig') }}
{% endblock %}
