{% extends 'base.html.twig' %}

{% block title %}New Dangers{% endblock %}

{% block body %}
    <h1>Create new Dangers</h1>

    {{ include('dangers/_form.html.twig') }}

    <a href="{{ path('app_dangers_index') }}">back to list</a>
{% endblock %}
